:root {
  --colorwhite: #fff;
  --colorbrand: #1d8bdd;
  --colorblack: #000;
  --colorred: #dc3545;
  --coloroffblack: #393738;
  --bordercolor: #c3c4c7;
  --offwhite: rgba(82,76,255,0.04);
  --dwk-notice-box-shadow: 0 1px 1px rgba(0,0,0,.04);
}
.dwk-header-wrap, .dwk-footer-wrap {
  background: #ffffff;
  border-color: var(--colorbrand);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 15px;
  position: relative;
  -webkit-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
  -moz-box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
  box-shadow: 8px 8px 8px 0 rgba(187, 187, 187, 0.2);
}
.dwk-header-wrap {
  border-top-style: solid;
  border-top-width: 5px;
}
.dwk-btn, .dwk-btn:visited {
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 500;
  height: auto;
  outline: none;
  padding: 10px 25px;
  text-shadow: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--colorbrand);
  text-decoration: none;
  transition: all 0.3s ease;
}
.dwk-notice {
  position: relative;
  display: flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: var(--colorwhite);
  border-inline-start-width: 4px;
  box-shadow: var(--dwk-notice-box-shadow);
  margin: 5px 20px 20px 5px;
}
.dwk-notice-inner {
  background: var(--offwhite);
  border: none;
  width: 100%;
  margin-top: 20px;
}
.dwk-notice::before {
  display: block;
    content: "";
    position: absolute;
    inset-inline-start: -4px;
    inset-block-start: -1px;
    inset-block-end: -1px;
    width: 4px;
    background-color: var(--colorbrand);
}
.dwk-notice__aside {
  overflow: hidden;
  background-color: var(--offwhite);
  padding: 10px;
  text-align: center;
  padding-block-start: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}
.dwk-notice__content {
  padding: 20px;
}
.dwk-notice__content h1, .dwk-notice__content h3, .dwk-notice__content p {
  margin: 0;
}
.dwk-notice__content p {
  margin-top: 8px;
}
.dwk-btn:hover {
  background: var(--coloroffblack);
  color: var(--colorwhite);
}
.apm-admin-page {
  background: var(--colorwhite);
    border-radius: 8px;
    padding: 20px;
}
.dwk-header-wrap > .row {
  display: flex;
  align-items: center;
}
.btn-wrap {
  text-align: right;
}
.apm-admin-page .tab-content {
  max-width: 650px;
  margin-top: 1px;
}
.nav-tab-wrapper {
  margin-bottom: 20px;
}
.nav-tab-wrapper li {
  margin-bottom: -1px;
  float: left;
  
}
.nav-tab-wrapper a:focus {
  outline: none;
  box-shadow: none;
}
.nav-tab-wrapper a {
  border-radius: 4px 4px 0 0;
  padding: 10px 20px;
  background: var(--colorbrand);
  color: var(--colorwhite);
  transition: background 0.3s ease;
}
.nav-tab-wrapper a.nav-tab-active, .nav-tab-wrapper a:hover {
background: var(--colorwhite);
color: var(--colorbrand);
margin-bottom: -1px !important;
border-bottom: 1px solid var(--colorwhite) !important;
}
#payment-methods-list {
  list-style: none;
  padding: 0;
}
.dwk-payment-methods {
  width: 100%;
}

.dwk-payment-methods ul {
  align-items: center;
}

.dwk-payment-methods li {
  width: auto;
}
.payment-method-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid var(--bordercolor);
  background-color: var(--colorwhite);
}

.payment-method-item img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.payment-method-item .remove-method {
  margin-left: auto;
  background: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.payment-method-item .remove-method:hover {
  background: #c82333;
}
.dwk-form-table tr {
  border-bottom: 1px solid var(--bordercolor);
}
.dwk-form-table select {
  min-width: 6rem;
}
.dwk-form-table input[type='number'] {
  width: 6rem;
}
.dwk-form-table .description em {
  display: block;
  color: var(--colorred);
  font-size: 10px;
}
#add-payment-method, #save-payment-methods {
  margin-top: 20px;
  background: #0073aa;
  color: #fff;
  border: none;
  cursor: pointer;
}

#add-payment-method:hover, #save-payment-methods:hover {
  background: #005177;
}

#apm-save-message {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

#apm-save-message.success {
  background: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

#apm-save-message.error {
  background: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}
#add-payment-method-form {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f4f4f4;
}
.dwk-footer-wrap {
  border-bottom-style: solid;
  border-bottom-width: 5px;
}
.dwk-footer-wrap .creator span, .dwk-footer-wrap .copyright span {
  display: block;
  margin-bottom: 10px;
}
.footer-nav {
  text-align: center;
}
.footer-nav li {
  display: inline-block;
  margin-left: 10px;
  padding-left: 10px;
  position: relative;
}
.footer-nav li  a {
  color: var(--colorbrand);
  text-decoration: none;
}
.dwk-footer-wrap > .row {
  display: flex;
}
.dwk-footer-wrap .copyright {
  text-align: right;
}

/* Column */
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
}

.col-xs-1 {
    width: 8.33333333%;
}

.col-xs-2 {
    width: 16.66666667%;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-4 {
    width: 33.33333333%;
}

.col-xs-5 {
    width: 41.66666667%;
}

.col-xs-6 {
    width: 50%;
}

.col-xs-7 {
    width: 58.33333333%;
}

.col-xs-8 {
    width: 66.66666667%;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-10 {
    width: 83.33333333%;
}

.col-xs-11 {
    width: 91.66666667%;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-12 {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-12 {
        width: 100%;
    }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}
